<section class="service-section">
  <h2>Service</h2>
  <div class="service-section-header">
    <div class="search-field">
      <i class="ph-magnifying-glass"></i>
      <input type="text" placeholder="Account number">
    </div>
    <div class="dropdown-field">
      <select>
        <option>Home</option>
        <option>Work</option>
      </select>
      <i class="ph-caret-down"></i>
    </div>
    <button class="flat-button">Search</button>
  </div>
  <div class="mobile-only">
    <button class="flat-button">Toggle search</button>
  </div>

    <app-service-tile></app-service-tile>

  <div class="service-section-footer">
    <p>Services are paid according to the current state of the currency and tariff.</p>
  </div>
</section>
